.idea/
build/
.gradle/
.DS_Store

# minecraft
minecraft-server/plugins/
minecraft-server/world/
minecraft-server/world_nether/
minecraft-server/world_the_end/
minecraft-server/banned-ips.json
minecraft-server/banned-players.json
minecraft-server/bukkit.yml
minecraft-server/commands.yml
minecraft-server/help.yml
minecraft-server/ops.yml
minecraft-server/permissions.yml
minecraft-server/server.properties
minecraft-server/spigot.yml
minecraft-server/usercache.json
minecraft-server/whitelist.json
